body {
    margin: 0;
}


/* Introduction section */
header {
    background-color: #158221;
    color: white;
    padding: 20px;
    text-align: center;
}


/* Main section */
.intro-para {
   color: #074780;
   text-align: center;
}

h3 {
color: #164183;
}




/* Footer section */
.tele-number {
    color: red;
}