body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}


/* Introduction section */
header {
    background-color: #158221;
    color: white;
    padding: 20px;
    text-align: center;
}


/* Main section */
.intro-para {
   color: #074780;
   text-align: center;
}

h3 {
color: #164183;
}

.main-section {
    margin: 0 40px;
}

.main-sections{
    text-align: center;
 
}

.image-whitbarrow{
   padding: 5px;
   display: inline-block;


}




/* Footer section */
.tele-number {
    color: red;
}
.footer-section {
    margin: 0 40px;
    text-align: center;
}